@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Gilroy-Regular', sans-serif;
}

.container{
    max-width: 1720px;
    margin: 0 auto; 
}
                
@media screen and (min-width:350px) and (max-width:1719px) {
  .container{
    padding: 0 15px;
  }
}
